.tarjeta
{
	width: 350px;
	background-color: red;
	border-radius: 10px;
}

.titulo
{
	height: 40px;
}

.redes-sociales
{
	height: 70px;
}

.icono
{
	width: 48px;
	height: 48px;
}

.descripcion
{
	height: 30px;
}

.contacto
{
	color: white;
}

.boton
{
	width: 350px;
	height: 30px;
}